body {
    background: gray;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.rowContainer .rowContainerDetail {
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid lightgray;
}